<div id="search">
<%= form_for @search do |search_form| %>

<span id="what">What: <%= search_form.text_field :query %></span>

  <%= fields_for @location do |loc_field| %>
<span id="where">Where: <%= loc_field.text_field :name %></span>
  <% end %>

  <%= search_form.submit "Search" %>
<% end %>
</div>
