<div id="titlebar">
<h2>Branding Goes Here</h2>
</div>

<div id="main">

<%= render 'form' %>

<div id="results">

<% if @results.empty? %>
<p class="error message"><%= NO_RESULTS_ERROR_MSG %></p>
<% else %>
<h6>Search Results:</h6>

<% @results.each do |r| %>
  <p class="result">
  <span class="job-title"><%= link_to r["jobtitle"], r["url"] %></span><br />
  <span class="company"><%= r["company"] %></span> - <span class="location"><%= r["formattedLocation"] %></span><br />
  <span class="snippet"><%= sanitize(raw r["snippet"]) %></span><br />
  <%= r["source"] %> - <%= r["formattedRelativeTime"] %><br />
  </p>

<% end %>
<% end %>
</div>
</div>
