<div id="titlebar">
<h2>Branding Goes Here</h2>
</div>

<div id="main">

<%= render 'form' %>

<div id="results">
<h2>Search Results:</h2>

<% @results.each do |r| %>
  <p class="result">
  <%= link_to r["jobtitle"], r["url"] %><br />
  <%= r["company"] %> - <%= r["formattedLocation"] %><br />
  <%= sanitize(raw r["snippet"]) %><br />
  <%= r["source"] %> - <%= r["formattedRelativeTime"] %><br />
  </p>

<% end %>
</div>
</div>
